/* .inline-header {
  color: black;
  font-size: 50px;
  background-color: aqua;
  text-align: center;
}
.outline-header {
  color: blue;
  font-size: 75px;
  background-color: aquamarine;
  text-align: center;
} */
